.Post {
  position: relative;
  display: grid;
  grid-template-areas:
    'sidebar author-name      author-handle    relative-date'
    'sidebar content          content          content'
    'sidebar profile-error    profile-error    profile-error'
    'sidebar post-embed-error post-embed-error post-embed-error'
    'sidebar image            image            image'
    'sidebar images           images           images'
    'sidebar post-embed       post-embed       post-embed'
    'sidebar embed            embed            embed';
  grid-template-columns: min-content minmax(0, max-content) 1fr min-content;
  padding: 12px 0;
}

.Post__avatar,
.Post__avatar-placeholder {
  grid-area: sidebar;
  width: 44px;
  height: 44px;
  margin-right: 12px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
}

.Post__avatar-placeholder {
  background: #dddde8;
}

.Post__author-name {
  grid-area: author-name;
  margin-right: 4px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.Post__author-name:hover {
  text-decoration: underline;
}

.Post__author-handle {
  grid-area: author-handle;
  opacity: 0.5;
  font-size: 15px;
}

.Post__relative-date {
  grid-area: relative-date;
  opacity: 0.5;
  font-size: 15px;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.Post__relative-date:hover {
  text-decoration: underline;
}

.Post__author-name,
.Post__author-handle,
.Post__relative-date {
  align-self: center;
}

.Post__content {
  grid-area: content;
}

.Post__content a {
  color: #44d;
  text-decoration: none;
}

.Post__content a:hover {
  text-decoration: underline;
}

.Post__profile-error {
  grid-area: profile-error;
  margin-top: 8px;
}

.Post__post-embed-error {
  grid-area: post-embed-error;
  margin-top: 8px;
}

.Post__image {
  grid-area: image;
  margin-top: 8px;
  width: 100%;
  height: auto;
  max-height: 60vh;
  border-radius: 8px;
  object-fit: cover;
}

.Post__images {
  grid-area: images;
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2.2), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(calc(100% / 2.2), 1fr));
  gap: 4px;
  height: 60vh;
  min-height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.Post__images img {
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.Post__avatar,
.Post__image,
.Post__images img {
  outline: 1px solid #0082;
  outline-offset: -1px;
}

.Post__post-embed {
  grid-area: post-embed;
  margin-top: 8px;
}

.Post__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.Post--embed {
  grid-template-areas:
    'sidebar          author-name      author-handle    relative-date'
    'content          content          content          content'
    'profile-error    profile-error    profile-error    profile-error'
    'post-embed-error post-embed-error post-embed-error post-embed-error'
    'image            image            image            image'
    'images           images           images           images'
    'post-embed       post-embed       post-embed       post-embed'
    'embed            embed            embed            embed';
  grid-template-columns: min-content minmax(0, max-content) 1fr min-content;
  padding: 8px 12px;
  border: 1px solid #ddddde;
  border-radius: 8px;
}

.Post--embed > .Post__content {
  margin-top: 4px;
  line-height: 1.2;
}

.Post--embed > .Post__avatar,
.Post--embed > .Post__avatar-placeholder {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
