.App__header {
  margin-bottom: 2rem;
}

.App__heading {
  color: #224;
  letter-spacing: -0.01em;
  font-size: 2.25em;
  margin-bottom: 0;
}

.App__subtitle {
  margin: 0.25em 0;
  font-size: 1.25em;
}

.App__credits {
  margin: 0.25em 0;
  color: #446;
}

.App__loading-card {
  position: relative;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: ease 0.2s height, ease 0.2s opacity;
}

.App__loading-card--visible {
  opacity: 1;
  height: calc(5rem + 16px);
  pointer-events: auto;
}

.App__loading-card__inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: white;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  outline: 1px solid #c0c0e3;
  text-align: center;
}

.App__loading-card .Spinner {
  --size: 40px;
  --thickness: 5px;
}

.App__like-error {
  margin-top: 16px;
}

.App__post-timeline {
  background: white;
  margin: 1rem 0;
  padding: 0 16px;
  border-radius: 8px;
  outline: 1px solid #c0c0e3;
  transition: ease 0.2s opacity;
}

.App__post-timeline--loading {
  opacity: 0.5;
}

.App__post-loading-card {
  text-align: center;
  padding: 16px 0;
}

.App__post-loading-card .Spinner {
  --size: 40px;
  --thickness: 5px;
}
