*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', system-ui, sans-serif;
  line-height: 1.4;
  font-size: 17px;
  margin: 0;
  padding: 0;
  background: #d9d9fb;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

.form-field label {
  display: block;
  font-size: 15px;
  opacity: 0.75;
  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #c0c0e3;
  font: inherit;
  margin: 0;
  padding: 14px 12px;
  transition: 0.1s box-shadow;
}

.form-field input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #44d;
}
